<!DOCTYPE html>
<html>
  <head>
    <title>alexertech by alex b.</title>

    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- main container -->
    <div class="container">
   
      <!-- main nav bar -->
      <%= render 'shared/nav' %>

      <!-- main -->
      <%= yield %>

      <footer>
        <p>&copy; 2017, Alex B. Este sitio es libre de anuncios, click baits, 
        y demás cosas horribles. </p>
      </footer>
        
    </div>


    
    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
    (function() {
      'use strict'
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.head.appendChild(msViewportStyle)
      }
    }())
    </script>

  </body>
</html>
